body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #18143a;

}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.headerContainer {
  width: 100vw;
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  padding: 25px;
  background-color:#18143a;
  z-index: 9999; /* <-- Esto asegura que esté encima del contenido */
}

.logoImg {
  width: 173px;
  height: 40px;
  margin-left: 2cm;
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 22px;
  
  gap: 70px;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 2cm;

  text-align: center;
}
.contentMenu{
  text-decoration: none;
  color: #ffffff;
}

.contentMenu:hover {
  transition: 0.3 ease;
  cursor: pointer;
  color: aqua;
  border-bottom: 2px solid aqua;
  border-radius: 4px;
  padding-bottom: 5px;
}

/*FINZALIZACION DE DISENO DEL HEADER*/


/*COMIENZO DEL DISEÑO MAIN*/

main{
  
  flex: 1;
  width: 100vw;
  margin-top: 4cm;
}
main .articleText{
   display: flex;
   flex-direction: column;
   
}
.descriptionCv{
  display: flex;
  
}

#infoSobreMi:first-child {
    display: flex;
    align-items: center;
    
  }
  #imgCaja{
    display: flex;
    justify-content: center;
    margin-left: 25%;
  }
  #imgPerfil{
    height: 300px;
    width: 300px;
   
  }
  .articleText{
    margin-right: 200px;
  }
  #nombre {
    color:#FFFFFF;
    opacity: 0.9;
    margin-bottom: 0;
  }
  #prof {
    color: #9b5de5;
 
    margin-bottom: 0;
  }
  #line {
    margin: 0;
    margin-bottom: 10px;
    color:aquamarine;
    opacity: 0.9;
  }
  #textMy {
    color: #FFFFFF;
    opacity: 0.9;
  }
  .btnCv {
  padding: 10px 20px;
  border-radius: 60px;
  cursor: pointer;
  background-color: chartreuse;
  border-style: none;
  color: black;
  text-decoration: none;
  }
  #colorText{
    color: #9b5de5;
  }

  .cajaCv{
    margin-top: 40px;
  }
  .cajaCv{
    display: flex;
    align-items: center;
  }
  #git{
    margin-left: 1cm;
  }
  #linkenin{
    margin-left: 1cm;
  }
  #imgGit{
    background-size: cover;
    width: 39px;
    height: 40px;
  }
  #imgLinkenin{
    background-size: cover;
    width: 39px;
    height: 40px;  
  }
  
  .textProyects{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .textProyects{
    margin-top: 2cm;
    align-items: center;
  }
  .textProyects h3{
    color: blueviolet ;
    font-size: 25px;
  }
  .textProyects p {
    animation: pulse 2s infinite;
    transition: transform 0.2s ease-in-out;
    color: #FFFFFF;
  }

  /*SEGUNDA SECCION DEL MAIN BOTONES Y PROYECTOS*/

  .botones-tab{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 1cm;
  }
  .botones-tab{
   gap: 36px 
  }
 .btnContenido{
  padding: 12px 70px;
  border-radius: 15px;
  background-color: chartreuse;
  opacity: 0.9;
  border-style: none;
  color: black;
 }
 .active{
  color: blue;
  padding: 12px 100px; 
 }

 .contenido-tab{
  display: flex;
 }
 .cajaSacm{
  width: 50%;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
 }
 .imgSacm{
  width:100%;
  height: 170px;
  border-radius: 8px;
 }
 .footer-ultimate{
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}
.textfooter{
  text-align: end;
  color: white;
  font-size: 15px;
}
.cajaSacm h2{

  color: brown ;
  text-shadow: 2px 2px 2px black;
}
.cajaSacm p{
  margin-top: 1cm;
  color: black;
}
.cajaSacm span{
  color:blue ;
}
#FlexImg{
  display: flex;
  flex-direction: column;
}
.cajaSacm #textIdSacm{
  margin-top: 2cm;
}
.SacmDirect{
 color: blue;
}
.SacmDirect:hover{
  color: blueviolet;
}
.btnContenido:hover{
cursor: pointer;
}

/*SECCION OF HABILITIES*/

.habilidadesContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 1cm;
}

.habilidadesContainer #textTitle{
  text-align: center;
  color:blueviolet ;
   font-size: 25px;
}